html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


* {
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}

.s1 h1 {
    font-size: 1em;
}

.welcome::before {
    background: url(img/ndesk.jpg) center fixed no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -2;
    overflow: hidden;
}

.s2 {
    box-shadow: 0px -5px 100px black;
    background-color: #F8F9FA;
    color: rgb(59, 59, 59);
    z-index: 2;
}

.bgs3 {
    background-color: #F8F9FA;
}

.bgs3 a {
    text-decoration: none;
    color: black;
}

.bgFt {
    background-color: rgb(54, 54, 54);
    height: auto;
    padding: 10px;
    color: white;
}

/*Sidebar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(255, 174, 174);
    background: linear-gradient(25deg, #89775C 0%, rgb(21, 175, 206) 100%);
    overflow-x: hidden;
    padding-top: 60px;
    transition: ease-in-out 0.2s;
}

.sidebar a {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 20px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.sidebar a:hover {
    transition: ease-in-out 0.1s;
    color: white;
    border-right: 1px solid white;

}

.bar1,
.bar2,
.bar3 {
    z-index: 99;
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}



.openbtn {
    display: inline-block;
    position: fixed;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(156, 156, 156);
    color: black;
    padding: 4px 11px;
    transition: 0.3s;
    z-index: 99;
}

.openbtn:hover {
    box-shadow: #158ED3 3px 3px 1px;
    transition: ease-in 0.2s;
}

.openbtn:active {
    box-shadow: #156ea1 3px 3px 1px;
    opacity: 0.9;
    transform: translateY(1.2px);
}


/* Rotate first bar */
.change .bar1 {
    width: 26px;
    transform: rotate(135deg) translate(5px, -6.5px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    width: 24.5px;
    margin-left: 1px;
    margin-right: 1px;
    transform: rotate(45deg) translate(-5px, -5.5px);
}


.circle .bi:hover {
    cursor: pointer;
    box-shadow: white 1px 2px 10px;
    border-radius: 50%;
}

.txt-rotate {
    font-weight: 400;
    background-color: rgba(133, 133, 133, 0.6);
}

.welcome {
    margin: 33vh 0 30vh 0;
    /* background: rgba(0, 0, 0, 0.349); */
}


.about h3 {
    color: #4c4e4e;
    font-size: 3em;
    width: auto;
    font-weight: 700;
    border-bottom: 2px solid #25a2b3;
    box-shadow: 0px 7px 10px -5px #05262b;
    text-shadow: #25a2b3 2px 0px 0px;

}

.fab {
    color: #4c4e4e;
    text-shadow: 3px 2px 3px #05262b;
}

.about-text p {
    font-weight: 700;
    text-align: center;
    font-size: 2.5vh;
}

.skills h5 {
    text-decoration: underline 2px solid #25a2b3;
    text-underline-offset: 3px;
}

.carousel-item img {
    object-fit: cover;
}

.card img {
    height: 80px;
    min-width: 75%;
    object-fit: cover;
}


.card:hover {
    color: black;
    box-shadow: #158ED3 1px 1px 1px;
}

.card:active {
    box-shadow: #156ea1 3px 3px 1px;
    opacity: 0.9;
    transform: translateY(3px);
}



.bgFt h5 {
    font-style: oblique;
    font-weight: 400;
    font-size: 0.8em;
}

.fa-linkedin,
.fa-file-word {
    color: white;
}

.fa-gitlab {
    color: #158ED3;
}